.chat-desk-page {
  display: flex;
  background: linear-gradient(teal, seagreen);
}
.chat-desk-page > header {
  width: 80%;
  height: 10vh;
  background-color: whitesmoke;
  border-bottom: 5px solid white;
  border-top: 5px solid "whitesmoke";
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-desk-page > header > span {
  width: 10px;
  height: 10px;
  background-color: seagreen;
  border-radius: 50%;
  text-align: center;
}

.chat-desk-page > header > p {
  margin: 0px 15px;
  color: darkslategray;
}

.chat-desk-page > section {
  width: 80%;
  height: 40vh;
  background-color: whitesmoke;
}

.chat-desk-page > section > img {
  width: 40%;
  object-fit: cover;
  border-radius: 0px;
}

.chat-desk-page > div {
  width: 80%;
  height: 35vh;
  background-color: whitesmoke;
}

.chat-desk-page > div > input {
  width: 30%;
  height: 50px;
  margin-bottom: 0px;
  
}

.chat-desk-page > div > input:nth-child(2) {
  margin-bottom: 10px;
}

.chat-desk-page > div > input:hover{
  border: 2px solid teal;
  transition: ease-in-out 0.5s;
}

.chat-desk-page > div > button {
  width: 20%;
  height: 45px;
  margin-top: 10px;
  transition: ease-in-out 0.5s;
  background:linear-gradient(to right,seagreen,teal);
  color: white;
  font-size: 15px;
}

.chat-desk-page > div > button:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .chat-desk-page > header {
    width: 95%;
    height: 10vh;
  }

  .chat-desk-page > header > p {
    font-size: 14px;
    margin: 0px 5px;
  }

  .chat-desk-page > section {
    width: 95%;
    height: 45vh;
  }
  .chat-desk-page > section > img {
    width: 90%;
  }
  .chat-desk-page > div {
    width: 95%;
    height: 40vh;
  }

  .chat-desk-page > div > input {
    width: 80%;
  }
  .chat-desk-page > div > button {
    width: 50%;
  }
}
