.message {
  width: 40%;
  min-height: 80px;
  max-height: auto;
  background-color: "";
  border: 2px solid cadetblue;
  color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px 10px;
  border-radius: 5px;
}

.message:last-child(1) {
  margin-top: 15px;
}

.message:last-child {
  margin-bottom: 100px;
}

.message > p {
  padding: 10px 15px;
  color: black;
}

.message-right {
  background-color: white;
  color: black;
  margin-left: 55%;
  border: none;
}

.chat-room-page {
  background: linear-gradient(lightgreen, teal);
}

.chat-box {
  width: 90%;
  height: 100%;
  background-color: beige;
  border-radius: 20px;
}

.chat-box > header {
  width: 100%;
  height: 7%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

.chat-box > header > section > span {
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: teal;
  border-radius: 50%;
}

.chat-box > header > section > p{
  margin-left: 10px;
}

.chat-box > div {
  width: 100%;
  height: 83%;
  background-color: whitesmoke;
  padding: 15px 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-box > section {
  width: 100%;
  height: 10%;
  background-color: whitesmoke;
  border-top: 2px solid white;
}

.chat-box > section > input {
  width: 60%;
  height: 55px;
  background-color: white;
  margin: 0px 20px;
  border-radius: 0px 0px 10px 10px;
}

.chat-box > section > button {
  width: 20%;
  height: 55px;
  background-color: transparent;
  color: teal;
  font-size: 16px;
  transition: ease-in-out 0.3s;
}

.chat-box > section > button:hover {
  opacity: 0.5;
}


@media (max-width:600px) {
  .chat-box{
    width: 98%;
    height: 98vh;
  }

  .chat-box>div>.message{
    width: 70%;
    
  }

  .chat-box>div>.message-right{
    margin-left: 27%;
  }

}